{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <header>


    </header>


</head>


<body>

    <header>
        <nav>

            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="nav-menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="https://www.coca-colaentuhogar.com/productos.html">Productos</a></li>
                <li><a href="https://careers.coca-colacompany.com/">trabaja con nosotros</a></li>
                <li><a href="https://journey.coca-cola.com/nuestra-compania">Acerca De Nosotros</a></li>
                <li><a href="https://journey.coca-cola.com/contacto/contacto-peru">Contactanos</a></li>
            </ul>
        </nav>
        <div class="banner-text container">
            <h1>Historia de Coca-Cola</h1>
            <br>
            <br>
            <br>
            <br>

            <p>El coronel confederado John Stith Pemberton, herido en la Guerra Civil Estadounidense y adicto a la
                morfina, también tenía un título de médico y comenzó una búsqueda para encontrar un sustituto de la
                problemática droga.En 1885 en Pemberton's Eagle Drug and Chemical House, su farmacia en Columbus
                (Georgia), registró el tónico nervioso Pemberton's French Wine Coca.​ El tónico de Pemberton puede
                haberse inspirado en el formidable éxito de Vin Mariani, un vino de coca franco-corso, pero su receta
                también incluía la nuez de cola africana, la fuente de cafeína de la bebida.​ Una bebida española
                llamada "Kola Coca" se presentó en un concurso en Filadelfia en 1885, un año antes del nacimiento
                oficial de Coca-Cola. Los derechos de esta bebida española fueron comprados por Coca-Cola en 1953.​

                En 1886, cuando Atlanta y el Condado de Fulton (Georgia) aprobaron la legislación de prohibición,
                Pemberton respondió desarrollando Coca-Cola, una versión sin alcohol del French Wine Coca de
                Pemberton. Se comercializó como "Coca-Cola: la bebida de la templanza", lo que atrajo a muchas
                personas ya que el movimiento de la templanza disfrutó de un amplio apoyo durante este tiempo.

                El 8 de mayo de 1886, en la farmacia Jacobs, en Atlanta, el farmacéutico John Stith Pemberton comenzó la
                comercialización de un jarabe ideado para combatir los problemas de digestión que además aportase
                energía. Durante los primeros tiempos, vendía cada día alrededor de nueve vasos, a un precio de 5
                centavos por vaso.

                Pemberton no tardó en darse cuenta de que la bebida que había creado podía ser un éxito. Su contable,
                Frank Robinson, fue quien ideó la marca Coca-Cola y diseñó el logotipo. En 1891 se fundó The Coca-Cola
                Company, formada por el también farmacéutico Asa G. Candler, su hermano John S. Candler y Frank
                Robinson. Dos años después registraron la marca en la Oficina de Registro de la Propiedad Industrial de
                los Estados Unidos.

                Existe otra versión histórica sobre el origen de la bebida, cuyo descubrimiento tuvo lugar en 1885 en
                una fábrica valenciana de licores en España .Esta bebida edulcorante inicial llamada "Bebida de
                Nuez de Kola-Coca" fue llevada a distintas exposiciones internacionales como la de Philadelfia y
                regalada también como muestra a distintas personas en Estados Unidos en 1885. En 1953 Coca-Cola compró
                los derechos del producto inicial a la fábrica valenciana, y desde entonces es fabricado por esta última
                un licor distinto a la bebida inicial con el nombre de "Licor de Nuez de Kola-Coca".

            </p>
            <a class="btn-a" href="#"> UMMM.. QUE RIKA COCA</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </header>


    <script src="https://kit.fontawesome.com/2cb25f2c39.js"></script>
    <footer>
        <ul class="footpage">
            <li><a href="https://goo.gl/maps/LZDyoQgQEHAeFBjKA">DIRECCIÓN:<br>
                    Av. República de Panamá 4050 Urb. Limatambo, Surquillo, Lima, Perú</a></li>
            <li><a href="https://www.facebook.com/cocacolaperu/posts/1423454224526959/">CENTRAL TELEFÓNICA:
                    0800-1-4000></a></li>
            <li><a href="https://goo.gl/maps/LZDyoQgQEHAeFBjKA">CORREO :
                    contactope@coca-cola.com
                    ></a></li>
        </ul>

    </footer>




</body>

</html>